
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Libre+Baskerville:wght@400;700&display=swap');
@import "tailwindcss";

body {
  background-color: #fffdf5; /* was #1A1A1D */
  font-family: 'Inter', sans-serif;
  color: #000000;
}

.contact-heading {
  font-family: 'Great Vibes', cursive;
}